$animation-easing: cubic-bezier(0.86, 0, 0.07, 1);
$animation-initial-delay: 500ms;
$transition-duration: 1s;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root{
  --primary: #2473bd;
  --primary-next: red;
  --secondary: #174977;
  --secondary-next: blue;
  --light-body: #EFEFEF;
  --dark-body: #404040;
}

* {
  &, &:after,
  &:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html{
  width:  100vw;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--light-body);
  background-color: #EFEFEF;
  &:before,
  &:after {
    // pseudo element do-da
    content: '';
    display: block;
    position: absolute;
    // sizing
    width: 100vw;
    height: 100%;
    //position
      //y
    top: 0;
      //x
    left: 0;
    // animation / transform properties
    animation-fill-mode: forwards !important;
    transform-origin: right;
  }
  &:before{
    //style
    background-color: var(--primary);
    //position
    //z
    z-index: 30;
    animation: introductionReveal $transition-duration $animation-easing;
    animation-delay: $animation-initial-delay * 2;
  }
  &:after{
    //style
    background-color: var(--secondary);
   //position
    //z
    z-index: 40;
    // animation
    animation: introductionReveal $transition-duration $animation-easing;
    animation-delay: $animation-initial-delay;
  }
}
@keyframes introductionReveal {
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0);
  }
}
body{
  position: relative;
  min-height: 100vh;
  height: 100vh;
}

.flexbox{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
}

.logo-container{
  position: relative;
  display: inline-block;
  width: 35rem;
  max-width: 50rem;
  //z-index: 30;
  &:before{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    content: '';
    display: inline-block;
    height: 55rem;
    width: 55rem;
    border-radius: 60rem;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.3);
    background-color: var(--secondary);
    animation-fill-mode: forwards!important;
    z-index: -1;
  }
  &.transition{
    &:before{
      animation: droplet $transition-duration $animation-easing;
    }
  }
}

@keyframes droplet {
  0%{
    transform: translate(-50%, -40%) scale(1);
    background-color: var(--secondary);
  }
  50%{
    transform: translate(-50%, -40%) scale(1.2);
    background-color: var(--secondary);

  }
  100%{
    transform: translate(-50%, -40%) scale(1);
    background-color: var(--secondary-next);
  }
}
.svg-fill--primary{
  fill: var(--primary);
  animation-fill-mode: forwards!important;
  transform-origin: center center;
  //transition: all $transition-duration $animation-easing;
  &.transition{
    animation: textChange $transition-duration $animation-easing;
  }
}

@keyframes textChange {
  0%{
    fill: var(--primary);
    transform: scale(1);
  }
  50%{
    fill: var(--primary);
    transform: scale(.8);
  }
  100% {
    fill: var(--primary-next);
    transform: scale(1);
  }
}
.blurb{
  width: 25rem;
  text-align: center;
  font-size: 1.4rem;
  margin: 2.2rem auto 0 auto;
  z-index: 20;
  color: var(--light-body);
  transition: color $transition-duration $animation-easing;
  &.light{
    color: var(--light-body);
  }
  &.dark{
    color: var(--dark-body);
  }
}
.contact-box{
  width: 25rem;
  display: flex;
  justify-content: space-between;
  margin: 12rem auto 0 auto;
}

a{
  &:link,
  &:visited{
    text-decoration: none;
  }
}

.icon{
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat !important;
  background-position: center !important;

  $icon-animation-duration: $transition-duration + 600ms;

  &--linkedin{
    background: url(../img/SVG/linkedin.svg);
  }
  &--email{
    background: url(../img/SVG/mail.svg);
  }
  &--instagram{
    background: url(../img/SVG/instagram.svg);
  }
  &.transition{
    animation: bloat $icon-animation-duration $animation-easing;
  }
}
@keyframes bloat {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(5rem);
  }
  100%{
    transform: translateY(0);
  }
}